@page "{name}"
@model CoreOnlineShop.Pages.ProductModel
@{

}


<div class="hero">
    <div class="hero-body">
        <div class="columns container">
            <div class="column is-6">
                <figure class="image">
                    <img src="~/images/sample.jpg" alt="Alternate Text" />
                </figure>
            </div>
            <div class="column is-6">
                <section class="content">
                    <header>
                        <p class="title">@Model.Product.Name</p>
                        <p class="subtitle">@Model.Product.Description</p>
                    </header>
                    <main>
                        <p>
                            Brand new women's clothes. 780+ items in total.
                            Excess stock as business recently closed.
                            A variety of tops, pants, and skirts of various sizes and styles.
                            Wholesale value $12,000
                            Retail Value $24,000
                            Buyer must take the entire stock.
                            Please note goods are located in Christchurch.
                            Buyer is welcome to organise a viewing of the items.
                        </p>
                    </main>
                    <footer>
                        <form method="post">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Size</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow control">
                                        <div class="select">
                                            <select asp-for="CartViewModel.StockId"
                                                    onchange="toggleStock(event)">
                                                @foreach (var s in Model.Product.Stock)
                                                {
                                                    bool disabled = s.Qty <= 0;

                                                    <option value="@s.Id" disabled="@disabled">@s.Description</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Quantity</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow control">
                                        <input class="control input" asp-for="CartViewModel.Qty" />
                                    </div>
                                    @foreach (var stock in Model.Product.Stock)
                                    {
                                        if (stock.Qty <= 10)
                                        {
                                            <p class="help is-danger is-hidden low-stock" id="low-stock-@stock.Id">
                                                @(stock.Qty == 0 ? "Out of stock" : "Low stock")
                                            </p>

                                        }
                                    }
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow control">
                                        <button class="button is-success" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </footer>
                </section>
            </div>

        </div>
    </div>
</div>

<script>
    var toggleStock = function (e) {
        console.log(e);
        var stockToHide = document.querySelectorAll('.low-stock');
        stockToHide.forEach(function (e) {
            e.classList.add('is-hidden');
        })
        showLowStock(e.target.value);
        //var stockToShow = document.getElementById('low-stock-' + e.target.value);
        //stockToShow.classList.remov
    }
    var showLowStock = function (id) {
        var stockToShow = document.getElementById('low-stock-' + id);
        if (stockToShow !== null || stockToShow != undefined) {
            stockToShow.classList.remove('is-hidden');
        }
    }
    showLowStock(document.getElementById('CartViewModel_StockId').value);
</script>
